body {
  margin: 0;
  padding: 0;
}
header {
  background: #1d1f1e;
  color: white;
  padding: 1rem;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 1rem;
}
nav a :hover {
  text-decoration: underline;
}
main {
  padding: 1rem;
}

footer {
  background: #494d4a;
  color: white;
  text-align: center;
  width: 100%;
  padding: 0;
}
